@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;700&display=swap');

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 16px;
}

.app {
  padding: 1rem;

  .disabled {
    pointer-events: none;
    opacity: .5;
  }

  .settings {
    width: 200px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
     input {
       margin-bottom: .5rem;
     }
     label:last-of-type {
       width: calc(100% - 3rem);
       display: inline;
     }
  }

  .grid {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-top: 1rem;
    width: max-content;

    &-item {
      width:  5rem;
      height: 5rem;
      margin: .125rem;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 2px solid gray;
      transition: box-shadow .25s ;

      &.control {
        background-color: rgba(0, 0, 0, .05)
      }

      &.highlight {
        box-shadow: 0 0 8px inset gray;
      }

    }

    &-break {
      flex-basis: 100%;
      height: 0;
    }
  }
}
